<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>kuaidial</string>
			<key>key</key>
			<string>Enable</string>
			<key>label</key>
			<string>Enable KuaiDial</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>kuaidial</string>
			<key>key</key>
			<string>AutoActivate</string>
			<key>label</key>
			<string>Auto Activate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Preferences</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>id</key>
			<string>PrefixNumber</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>kuaidial</string>
			<key>default</key>
			<string>17951</string>
			<key>key</key>
			<string>PrefixNumber</string>
			<key>label</key>
			<string>Prefix Number</string>
			<key>pane</key>
			<string>PSTextEditingPane</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>kuaidial</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>NameOrder</string>
			<key>label</key>
			<string>Name Order</string>
			<key>default</key>
			<integer>0</integer>
			<key>validTitles</key>
			<array>
				<string>Last, First</string>
				<string>First, Last</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>kuaidial</string>
			<key>key</key>
			<string>ConnectedVibration</string>
			<key>label</key>
			<string>Connected Vibration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>kuaidial</string>
			<key>key</key>
			<string>MenuDial</string>
			<key>label</key>
			<string>Menu Dial</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>kuaidial</string>
			<key>key</key>
			<string>Highlight</string>
			<key>label</key>
			<string>Highlight</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>kuaidial</string>
			<key>key</key>
			<string>ShowCount</string>
			<key>label</key>
			<string>Show Count</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>kuaidial</string>
			<key>key</key>
			<string>ShowAvatar</string>
			<key>label</key>
			<string>Show Avatar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>kuaidial</string>
			<key>key</key>
			<string>TxtTable</string>
			<key>label</key>
			<string>Custom Table</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Search</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>kuaidial</string>
			<key>key</key>
			<string>JianPin</string>
			<key>label</key>
			<string>JianPin</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>kuaidial</string>
			<key>key</key>
			<string>PinYin</string>
			<key>label</key>
			<string>PinYin</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>kuaidial</string>
			<key>key</key>
			<string>English</string>
			<key>label</key>
			<string>English</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>kuaidial</string>
			<key>key</key>
			<string>PhoneNumber</string>
			<key>label</key>
			<string>Phone Number</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>About</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Version</string>
			<key>Key</key>
			<string>Version</string>
			<key>default</key>
			<string>0.1.7 beta1</string>
		</dict>
		<dict>
			<key>action</key>
			<string>emailApp:</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>E-Mail</string>
			<key>Key</key>
			<string>E-Mail</string>
			<key>default</key>
			<string>linspike@gmail.com</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PStitleViewCell</string>
			<key>label</key>
			<string>Freeware</string>
		</dict>
	</array>
	<key>title</key>
	<string>KuaiDial</string>
</dict>
</plist>

